{%  extends 'bonssite/common/top.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <div class="collumns">
        <div class="collumn size4">
            <div class="head">
                <span class="headline hl3">{{ article.title }}</span>
                <p><span class="headline hl4">by {{ article.author.username }}</span></p>
            </div>
            <p>{{ article.content|safe }}</p>
            <p>Дата создания: {{ article.creationDate }}</p>
            <p>Последний раз редактировалось: {{ article.creationDate }}</p>
        </div>
    </div>
{% endblock %}