{%  extends 'bonssite/common/top.html' %}

{% block title %}
    Авторизация
{% endblock %}

{% block content %}
    <h1>Вход/регистрация</h1>

    <div>
        <form action="/login/" method="post">
            {%  csrf_token %}
            <label for="username">Имя пользователя</label>
            <input type="text" name="username" id="username"/>
            <label for="password">Пароль</label>
            <input type="text" name="password" id="password"/>
            {%  if login_error %}
                <label class="error">{{ login_error }}</label>
            {%  endif %}
            <input class="button" type="submit" value="Войти"/>
            <a href="{% url 'register' %}">Зарегистрироваться</a>
        </form>
    </div>
{% endblock %}